<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>DISPLAY JSON IN HTML</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous"
    />
    <script>
      var jsondata ={{jsondata}};
    </script>
</head>
<body>
<div class="container">
    {{jsondata}}

<hr>

    <div>
        <h2>Welcome!! You are in Display Page!! </h2>
    </div>
    <div>
        <h1>User Info</h1>
            <table border=1>
                {% for user in jsondata: %}
                <tr>
                    <td>{{ user['student_name'] }}</td>
                    <td>{{ user['signup_date'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>







</div>

<table border="1">
    <thead>
    <tr>
        {% for col in colnames %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        {% for col in colnames %}
        <td>{{ record[col] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>