<html lang="en">
<head>
    <title>display</title>
</head>
<body>
<div>
        <div>
            <h2>Welcome!! You are in Display Page!! </h2>
        </div>
        <div>
            <h1>User Info</h1>
                <table>
                    <tr>
                        <td>First Name:</td>
                        <td>{{ user['fname'] }}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>{{ user['lname'] }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>
